<div class="divTable" style="width:100%;border: 1px solid #000;margin-top:17px;">
    <div class="divTableBody">
        <div class="divTableRow">
            <div class="divTableHead"><b>Group List</b></div>
            <div class="divTableHead"></div>
        </div>

        <div class="divTableBody">
            <div style="margin:20px;">
                <button class="btn btn-success btn-circle pull-right" (click)="add()" title="Add Group">
                    <i class="glyphicon glyphicon-plus"></i>
                </button>

                <ng-progress></ng-progress>
                <div class="alert-danger">{{errorMessage}}</div>

                <div class="input-group">
                    <input type="text" class="form-control" name="search" [(ngModel)]="search"
                           aria-describedby="basic-addon1">
                    <span class="input-group-addon" id="basic-addon1">Search</span>
                </div>

                <table class="table table-bordered">
                    <thead>
                        <tr *ngIf="groups.length >0">
                            <th (click)="setOrder('groupName')">
                                Group Name
                                <span class="glyphicon sort-icon" *ngIf="order =='groupName'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                            </th>

                            <th (click)="setOrder('companyName')">
                                Company Name
                                <span class="glyphicon sort-icon" *ngIf="order =='companyName'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                            </th>

                            <th (click)="setOrder('registeredAddress')">
                                Registered Address
                                <span class="glyphicon sort-icon" *ngIf="order =='registeredAddress'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                            </th>

                            <!--<th (click)="setOrder('siteAdress')">
                                Site address
                                <span class="glyphicon sort-icon" *ngIf="order =='siteAdress'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                            </th>

                            <th (click)="setOrder('projectName')">
                                Project Name
                                <span class="glyphicon sort-icon" *ngIf="order =='projectName'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                            </th>-->

                            <th *ngIf="activeuserdesignation!='Supervisor'">Action</th>
                        </tr>

                    </thead>
                    <tbody>
                        <tr  *ngFor="let group of groups | filter: search | orderBy: order:reverse:'case-insensitive'| pageditems: pager ;">
                            <td>{{group.groupName }}</td>
                            <td>{{group.companyName }}</td>
                            <td>{{group.registeredAddress}}</td>
                            <!--<td>{{group.siteAdress}}</td>
                            <td>{{group.projectName}}</td>-->

                            <td style="width: 70px;" *ngIf="activeuserdesignation=='Admin'">
                                <i class="glyphicon glyphicon-edit pointer fa-lg"
                                   (click)="edit(group.companyId)" title="Edit"></i>
                                <i class="glyphicon glyphicon-trash pointer fa-lg"
                                   (click)="delete(group)" title="Delete"></i>
                            </td>
                        </tr>
                        <tr *ngIf="!groups || groups.length==0">
                            <td colspan="7">No groupss Available..............</td>
                        </tr>
                    </tbody>
                </table>

                <table cellspacing="10">
                    <tr>


                        <td>
                            <div>
                                <ul *ngIf="pager.pages && pager.pages.length" class="pagination pagination-sm">
                                    <li [ngClass]="{disabled:pager.currentPage === 1}">
                                        <a (click)="setPage(1)"> First </a>
                                    </li>
                                    <li [ngClass]="{disabled:pager.currentPage === 1}">
                                        <a (click)="setPage(pager.currentPage - 1)">Previous</a>
                                    </li>
                                    <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                                        <a (click)="setPage(page)">{{page}}</a>
                                    </li>
                                    <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                                        <a (click)="setPage(pager.currentPage + 1)">Next</a>
                                    </li>
                                    <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                                        <a (click)="setPage(pager.totalPages)">Last</a>
                                    </li>
                                </ul>
                            </div>
                        </td>

                    </tr>

                </table>

                <div class="divTableRow">
                    <div class="divTableCell">      </div>
                    <div class="divTableCell_2"></div>
                </div>
                <div class="divTableRow">
                    <div class="divTableCell">    </div>
                    <div class="divTableCell_2"></div>
                </div>
            </div>
        </div>
    </div>
    </div>


