.divTable {
    font-size: 77%;
    font-family: "Myriad Web",Verdana,Helvetica,Arial,sans-serif;
}

.divTable {
    display: table;
    width: 100%;
}

.divTableRow {
    display: table-row;
}

.divTableRow_2 {
    display: table-row;
    background-color: #eeeeee;
}

.divTableHeading {
    background-color: #EEE;
    display: table-header-group;
}

.divTableCell {
    border: 0px solid #eeeeee;
    display: table-cell;
    padding: 8px 10px;
    width: 25%;
}

.divTableCell_2 {
    border: 0px solid #eeeeee;
    display: table-cell;
    padding: 8px 10px;
    width: 50%;
}

.divTableCell_3 {
    border: 0px solid #eeeeee;
    display: table-cell;
    padding: 8px 10px;
    width: 25%;
}


.divTableHead {
    border: 0px;
    background-color: #a31d21;
    display: table-cell;
    padding: 3px 10px;
    color: white;
    font-size: 15px;
}

.divTableHeading {
    background-color: #EEE;
    display: table-header-group;
    font-weight: bold;
}

.divTableFoot {
    background-color: #EEE;
    display: table-footer-group;
    font-weight: bold;
}

.divTableBody {
    display: table-row-group;
}

.settingstable,
.pickertable {
    width: 100%;
    border: none;
}

    .settingstable tr td {
        width: 50%;
        border: none;
    }

    .pickertable tr td {
        vertical-align: top;
    }

        .pickertable tr td:first-child {
            width: 240px;
        }

        .pickertable tr td:last-child {
            width: calc(100% - 260px);
            padding-left: 20px;
        }

.border {
    padding: 4px;
    border-radius: 4px;
    float: right;
    width: 100%;
}

.buttondiv {
    margin: 15px 0;
}

.okDate {
    color: #3c764d;
    background-color: #dff0d6;
    border: 1px solid #d6e9c2;
}

.invalidDate {
    color: #a94444;
    background-color: #f1dede;
    border: 1px solid #ebccd2;
}
