<div style="width:100%;margin-top:5px;"> <b>Group Name :</b>{{groupName}} &nbsp; &nbsp;  <i class="glyphicon glyphicon-arrow-right"></i> &nbsp; <b>Company Name :</b>{{companyName}} &nbsp; &nbsp;  <i class="glyphicon glyphicon-arrow-right"></i>  &nbsp; <b>Project Name :</b>{{projectName}} &nbsp; &nbsp;   </div>
<form [formGroup]="momForm" (ngSubmit)="save()" novalidate>
    <div class="divTable" style="width:100%;border: 1px solid #000;margin-top:17px;" *ngIf="moms.length == 0 || AddMore">
        <div class="divTableBody">
            <div class="divTableRow">
                <div class="divTableHead"><b>Add Meeting & Minutes</b></div>
                <div class="divTableHead"></div>
            </div>

            <div class="divTableRow_2" *ngIf="!IsEdit">
                <div class="divTableCell">
                    Minute Type
                </div>
                <div class="divTableCell_2">
                    <select palceholder="Select" formControlName="MOMType" style="width:160px;height:23px;">
                        <option value="Info">Info</option>
                        <option value="Task">Task</option>
                    </select>
                    <span style="color: red;" *ngIf="MOMType.invalid && (MOMType.dirty || submitted)">
                        <label *ngIf="MOMType.errors.required">
                            Minute Type is required
                        </label>
                    </span>
                </div>
            </div>

            <div class="divTableRow">
                <div class="divTableCell">Meeting Date</div>
                <div class="divTableCell_2">
                    <my-date-picker name="EndDate" [options]="myDatePickerOptions" placeholder="select meeting date"
                                    (dateChanged)="onEndDateChanged($event)" formControlName="MeetingDate"></my-date-picker>
                    <span style="color: red;" *ngIf="MeetingDate.invalid && (MOMType.dirty || submitted)">
                        <label *ngIf="MeetingDate.errors.required">
                            Meeting Date is required
                        </label>
                    </span>
                </div>
            </div>


            <div class="divTableRow_2" *ngIf="!IsEdit">
                <div class="divTableCell">Minute</div>
                <div class="divTableCell_2">
                    <textarea class="form-control" rows="2" formControlName="Minutes"></textarea>
                    <span style="color: red;" *ngIf="Minutes.invalid && (Minutes.dirty || submitted)">
                        <label *ngIf="Minutes.errors.required">
                            Minutes is required
                        </label>
                    </span>
                </div>

            </div>


            <div class="divTableRow">
                <div class="divTableCell"></div>
                <div class="divTableCell_2">
                    <input type="submit"
                           class="btn btn-primary"
                           value="Save" />&nbsp;
                    <input type="button" class="btn btn-warning" value="Reset" (click)="reset()" />
                </div>
            </div>

            <div class="divTableRow">
                <div class="divTableCell">      </div>
                <div class="divTableCell_2"></div>
            </div>
            <div class="divTableRow">
                <div class="divTableCell">    </div>
                <div class="divTableCell_2"></div>
            </div>

        </div>
    </div>
</form>

<div class="divTable" style="width:100%;border: 1px solid #000;margin-top:17px;" *ngIf="moms.length > 0">
    <div class="divTableBody">
        <div class="divTableRow">
            <div class="divTableHead"><b>Meetings & Minutes List</b></div>
            <div class="divTableHead"></div>
        </div>

        <div class="divTableBody">
            <div style="margin:20px;">
                <div>
                    <button class="btn btn-success btn-circle pull-right" (click)="add()" title="Add Meetings & Minutes">
                        <i class="glyphicon glyphicon-plus"></i>
                    </button>
                    <button class="btn btn-success btn-circle pull-right" (click)="ExportToExcel()" title="Export to Excel">
                        <i class="glyphicon glyphicon-export"></i>
                    </button>
                    <button [disabled]="IsSelected" class="btn btn-success btn-circle pull-right" (click)="SendMail()" title="Send Mail">
                        <i class="glyphicon glyphicon-envelope"></i>
                    </button>
                </div>
                <ng-progress></ng-progress>
                <div class="alert-danger">{{errorMessage}}</div>

                <div class="input-group" *ngIf="moms.length > 0">
                    <input type="text" class="form-control" name="search" [(ngModel)]="search"
                           aria-describedby="basic-addon1">
                    <span class="input-group-addon" id="basic-addon1">Search</span>

                </div>

                <div id="exportgrid">
                    <table class="table table-bordered">
                        <thead class="thead-inverse">
                            <tr *ngIf="moms.length >0">
                                <th>
                                    Sr. No.
                                    <span></span>
                                </th>
                                <th>
                                    Meeting Date
                                </th>
                                <th>
                                    Minute
                                </th>

                                <th>
                                    Minute Type
                                </th>
                                <th>
                                    Send Mail
                                </th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let mom of moms| filter: search;let i=index">
                                <td>{{i+1}} </td>
                                <td valign="top">{{mom.meetingDate | date :'dd/MMM/yyyy'}}</td>
                                <td valign="top">{{mom.minutes}}</td>
                                <td valign="top">{{mom.momType}}</td>
                                <td><input type="checkbox" (change)="onChange($event,mom.momId)" /></td>
                                <td style="width: 70px;">
                                    <i class="glyphicon glyphicon-edit pointer fa-lg" *ngIf="mom.mOMId != 0"
                                       (click)="editMOM(mom)" title="Edit"></i>
                                    <i class="glyphicon glyphicon-trash pointer fa-lg" *ngIf="mom.mOMId != 0"
                                       (click)="delete(mom.momId)" title="Delete"></i>
                                </td>
                            </tr>
                            <tr *ngIf="!moms || moms.length==0">
                                <td colspan="6">Minutes & Meeting not available</td>
                            </tr>

                        </tbody>
                    </table>

                </div>
            </div>
        </div>

        <!--<div style="text-align:center;margin-top:20px;" *ngIf="moms.length > 0">
            <input type="button"
                   class="btn btn-primary"
                   value="Submit" (click)="submit()" />
            <input type="button" class="btn btn-warning" value="Cancel" (click)="cancel()" />
        </div>-->
    </div>
</div>
<div class="divTableRow">
    <div class="divTableCell">      </div>
    <div class="divTableCell_2"></div>
</div>
<div class="divTableRow">
    <div class="divTableCell">    </div>
    <div class="divTableCell_2"></div>
</div>

